<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gamepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "BasicApp/css/indexPage.css" %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <!--Navigation Bar Section-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Psulu-HAL</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index'%}">Home</a></li>
            <li class="active"><a href="{% url 'game'%}">Game</a></li>
            <li><a href="#">Background</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!--Introduction-->
    <div class = "jumbotron">
      <div class = "container">
        <div class = "row content">

          <!--Map Generation-->
          <div class = "col-sm-4">
            <div class="form-group">
              <label for="sel1">Select the obstacle number to randomly generate:</label>
              <select class="form-control" id="obstalce_nums">
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
              </select>
              <small id="obsGenHelp" class="form-text text-muted">Generation will make the game restart</small>
              </div>
              <button type="button" class="btn btn-warning btn-lg" onclick="changeMap(document.getElementById('obstalce_nums').value)">Warning</button>

          </div>

          <!--Playing Section-->
          <div class = "col-sm-8">
            <form id = "gameInput">
              <div class = "form-group"> {% csrf_token %}
                <label>Risk Constraint:</label>
                <input type="text" class="form-control" name="risk" id="risk" placeholder="Float Accepted ">
                <small id="riskHelp" class="form-text text-muted">Range only valid from 0 ~ 0.5</small>
              </div>

              <div class="form-group">
                <label>Way Points:</label>
                <input type="text" class="form-control" name="waypoints" id="waypoints" placeholder="Float Accepted ">
                <small id="waypointsHelp" class="form-text text-muted">Not Sure : Range only valid from 1 ~ 12</small>
              </div>
            <input type="submit" id = "submit" class="btn btn-primary btn-lg" value="Plan"></input>
            <button type="button" class="btn btn-danger btn-lg" onclick="decidedToGo()">Let's Go!</button>
          </form>

            <script>
              $(document).on('submit', '#gameInput', function(e){
                e.preventDefault();
                //console.log(submarine.x)
                //console.log(submarine.y)
                console.log("sending data to backend...");
                console.log(m2pos);
                $.ajax({
                  type : "POST",
                  url : "/game/",
                  data : {
                  risk : $('#risk').val(),
                  waypoints : $('#waypoints').val(),
                  curr_x : (submarine.x - bias) / scale,
                  curr_y : 1.0 - (submarine.y - bias) / scale,
                  obstacle_coordinates : JSON.stringify(m2pos),
                  csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
                },
                success : function(received_json){
                  console.log(received_json);
                  showPlanPath(received_json['expected_route'])
                  acutual_routes = received_json['real_route'];
                  //dx = received_json['dx'];
                  //dy = received_json['dy'];
                  //console.log(dx);
                  //console.log(dy);
                }
            });

            $("#submit").attr("disabled", true);
            $("#submit").val("Dont Click for 5 secs...")
            setTimeout(function() {
              enableSubmitButton();
            }, 5000);
           });

           function enableSubmitButton() {
             $("#submit").removeAttr("disabled");
             $("#submit").val("Plan")
           }
           </script>

          </div>
        </div>
      </div>
    </div>



    <!-- Game Canvas Place -->
    <div>
    <h1>This is a game place</h2>
    <script type="text/javascript" src="{% static "BasicApp/js/phaser.js" %}"></script>

    <style>
      body {
        padding: 0px;
        margin: 2px;
        background: #001f3f;
      }
    </style>
    <script>
      var backgroundPic_url = "{% static "BasicApp/images/colorwater.jpg" %}";
      var submarinePic_url = "{% static "BasicApp/images/submarine.png" %}";
      var finish_linePic_url = "{% static "BasicApp/images/finish_line.png" %}";
    </script>
    <script src="{% static "BasicApp/js/main.js" %}"> </script>
    </div>

  </body>
</html>
