<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gamepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "BasicApp/css/indexPage.css" %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <!--Navigation Bar Section-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Psulu-HAL</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index'%}">Home</a></li>
            <li class="active"><a href="{% url 'game'%}">Game</a></li>
            <li><a href="#">Background</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!--Introduction-->
    <div class="jumbotron">
      <div class="container">
        <form id = "gameInput">
          <div class="form-group"> {% csrf_token %}
            <label>Risk Constraint:</label>
            <input type="text" class="form-control" name="risk" id="risk" placeholder="Float Accepted ">
            <small id="riskHelp" class="form-text text-muted">Range only valid from 0 ~ 0.5</small>
          </div>

          <div class="form-group">
            <label>Way Points:</label>
            <input type="text" class="form-control" name="waypoints" id="waypoints" placeholder="Float Accepted ">
            <small id="waypointsHelp" class="form-text text-muted">Not Sure : Range only valid from 1 ~ 12</small>
          </div>
          <input type="submit" class="btn btn-primary btn-lg" value="Plan"></input>
          <button type="button" class="btn btn-danger btn-lg" onclick="decidedToGo()">Let's Go!</button>
        </form>
        <script>
          $(document).on('submit', '#gameInput', function(e){
            e.preventDefault();
            //console.log(submarine.x)
            //console.log(submarine.y)
            console.log("sending data to backend...");
            $.ajax({
              type : "POST",
              url : "/game/",
              data : {
                risk : $('#risk').val(),
                waypoints : $('#waypoints').val(),
                curr_x : (submarine.x - bias) / scale,
                curr_y : 1.0 - (submarine.y - bias) / scale,
                csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
              },

              success : function(received_json){
                console.log(received_json);
                showPlanPath(received_json['expected_route'])
                acutual_routes = received_json['real_route'];
                //dx = received_json['dx'];
                //dy = received_json['dy'];
                //console.log(dx);
                //console.log(dy);
                //submarine_move(dx, dy);
              }

            });

          });
        </script>
      </div>
    </div>

    <!--
    <div class="jumbotron">
      <div class="container">
      <form method = "POST">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="submarine_move"></input>
      </form>
      </div>

    </div>
    -->
    <!--
    <div class="jumbotron">
        <h1>Testing Communication...</h1>
        {{ form }}
    </div>
    -->


    <!-- Game Canvas Place -->
    <div>
    <h1>This is a game place</h2>
    <script type="text/javascript" src="{% static "BasicApp/js/phaser.js" %}"></script>

    <style>
      body {
        padding: 0px;
        margin: 2px;
        background: #001f3f;
      }
    </style>
    <script>
      var backgroundPic_url = "{% static "BasicApp/images/water_background.jpg" %}";
      var submarinePic_url = "{% static "BasicApp/images/submarine.png" %}";
      var finish_linePic_url = "{% static "BasicApp/images/finish_line.png" %}";
    </script>
    <script src="{% static "BasicApp/js/main.js" %}"> </script>
    </div>

  </body>
</html>
