<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "BasicApp/css/indexPage.css" %}"/>
  </head>


  <body>

    <!--Navigation Bar Section-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Psulu-HAL</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index'%}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{% url 'game'%}">Software</a></li>
            <li><a href="#">Map Library</a></li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'admin:index'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!--Introduction Section-->
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Welcome to home page! ^_^</h1>
        <p>Go to /game to play the game</p>
      </div>
    </div>


    <footer class="container-fluid text-center">
      <p>Siyang Chen</p>
    </footer>

  </body>
</html>
