.showOnMobile {
  display: none;        
}
@media screen and (max-width: 767px) {
  .showOnMobile {
    display: block;
    position: absolute;
    left: 1em;
    top: 1em;
  }
  .showOnDesktop {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  body #step1, body #step2, body #step3, .btn, .form-control {
    font-size: calc(14 * (100vw / 560));
  }
}
@media screen and (max-width: 320px) {
  body #step1, body #step2, body #step3, .btn, .form-control {
    font-size: 8px;
  }
}   